.board {
    background: #0079BF;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
}
