.modal-overlay {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    z-index: 10;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.model-section {
    background: #edeff0;
    position: fixed;
    top: 7vh;
    width: 65vw;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 4px;
    z-index: 20;
    padding: 20px;
    height: calc(100vh - 23vh);
    overflow: auto;
    &.active {
        visibility: visible;
        opacity: 1;
    }
    .heading-section {
        position: relative;
        margin: 0em 0;
        .header-icon {
            position: absolute;
            left: 0px;
            color: #909090;
            i{
                vertical-align: -webkit-baseline-middle;
            }
        }
        .title {

            display: inline-block;
            color: #4d4d4d;
            font: 17px "Helvetica Neue",Arial,Helvetica,sans-serif;
            vertical-align: -webkit-baseline-middle;
            padding-left: 32px;
            text-transform: uppercase;
            margin: 0;

        }
        .task-name {
            display: inline-block;
            font-size: 17px;
            color: #909090;
            vertical-align: -webkit-baseline-middle;
            span {
                text-decoration: underline;
            }
        }
        .close-btn {
            position: absolute;
            font-size: 30px;
            right: -15px;
            top: -21px;
            color: darkgrey;
        }

        .delete-task{
            margin-left: 28px;
            padding-top: 7px;
            float: right;
            i{
                margin-left: -32px;
            }
        }
    }

    .description{

        margin: 2em 0;
        i{
            vertical-align: -webkit-baseline-middle;
            color: #909090;
        }

        span{
            color: #4d4d4d;
            font: 17px "Helvetica Neue",Arial,Helvetica,sans-serif;
            vertical-align: -webkit-baseline-middle;
            padding-left: 4px;
        }

        p{
            padding-left: 31px;
            font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
        }
        .description-input{

            textarea{
                box-sizing: border-box;
                height: 51px;
                box-shadow: 1px 1px 4px #ccc;
                margin-top: 15px;
                resize: none;
                background-color: #f9f9f9;
                border: 1px solid #cdd2d4;
                outline: 0;
                padding: 5px 10px;
                margin-left: 20px;
                width: calc(100% - 20px);
            }

            .add-new-task-action{

                button{

                    display: inline-block;
                    background: #dddfe0;
                    margin-left: 20px;
                    box-shadow: none;
                    color: #8c8c8c;
                    padding: 7px 18px;
                    font-size: 15px;
                    border: none;
                    border-radius: 4px;
                    margin-top: 10px;
                    outline: 0;
                    vertical-align: bottom;

                     &.active {
                        background: -webkit-linear-gradient(top, #61bd4f 0, #5aac44 100%);
                        background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
                        box-shadow: 0 1px 0 #3f6f21;
                        color: #fff;
                    }
                }
            }
        }
    }

    .comment-input-section {
        
        position: relative;
        margin: 2em 0;
        
        .comment-icon {
            position: absolute;
            left: 0px;
            color: #909090;
            font-size: 18px;
            top: -4px;
            i{
                vertical-align: -webkit-baseline-middle;
            }
        }
        h2 {
            color: #4d4d4d;
            font: 17px "Helvetica Neue",Arial,Helvetica,sans-serif;
            padding-left: 31px;
            margin: 0;
        }
        textarea {
            color: #4d4d4d;
            width: calc(100% - 40px);
            resize: none;
            background-color: #f9f9f9;
            border: 1px solid #cdd2d4;
            margin-top: 15px;
            height: 40px;
            font-size: 15px;
            box-shadow: 1px 1px 4px #ccc;
            outline: none;
            padding: 5px 10px;
            margin-left: 20px;
        }
        .send-btn {
            background: #dddfe0;
            margin-left: 20px;
            box-shadow: none;
            color: #8c8c8c;
            padding: 7px 18px;
            font-size: 15px;
            border: none;
            border-radius: 4px;
            margin-top: 10px;
            outline: none;
            &.active {
                background: -webkit-linear-gradient(top, #61bd4f 0, #5aac44 100%);
                background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
                box-shadow: 0 1px 0 #3f6f21;
                color: #fff;
            }
        }
    }
    .activity-section {
        position: relative;
        margin-top: 30px;
        .comment-icon {
            position: absolute;
            left: 0px;
            color: #909090;
            font-size: 18px;
            top: -4px;
            i{
                vertical-align: -webkit-baseline-middle;    
            }
            
        }
        h2 {
            font: 17px "Helvetica Neue",Arial,Helvetica,sans-serif;
            padding-left: 31px;
            margin: 0;
            color: #4d4d4d;
        }
        .comment-section {
            margin: 20px 0 0;
            padding: 0;
            list-style: none;
            height: 20vh;
            overflow-y: scroll;
            overflow-x: hidden;
            li {
                background: #fff;
                display: block;
                padding: 14px;
                width: calc(100% - 40px);
                margin-left: 20px;
                box-shadow: 1px 1px 5px #ababab;
                position: relative;
                padding-bottom: 37px;
                margin-bottom: 20px;

                .description{
                    margin: 0;
                }
                .time {
                    position: absolute;
                    height: 28px;
                    width: 100%;
                    left: 0;
                    line-height: 30px;
                    font-size: 12px;
                    padding-left: 12px;
                    background: #f3f3f3;
                    bottom: 0;
                    color: #888888;
                }
            }
        }
    }
}